.content_item{
    width: 250px;
    color: #fd9e3d;
    cursor: pointer;
}

.content_item img{
    width: 100%;
    height: 100%;
}

.content_item p{
    text-align: center;
}

.content_item p:hover{
    color: #f1b67a;
}