.content{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 10px;
    padding-bottom: 30px;
}

.content h2{
    color: #fd9e3d;
    cursor: pointer;
}

.content h2:hover {
    color: #f1b67a;
}
.content span{
    font-weight: 800;
    scale: 1.6;
}

.content span:last-child{
    display: none;
}
